# ASP.NET runtime
ASPNETCORE_ENVIRONMENT=Development

# API
API_PORT=8080
JWT_KEY=super_secret_dev_key_123456789

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_DB=payroll_approval
POSTGRES_USER=payroll_user
POSTGRES_PASSWORD=payroll_pass
